

  
 .title{
    display: flex;
    color: white;
   margin: auto;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: white;
 }
.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
   
  }
  
  .movie-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 20px;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
  }
  
  .movie-card.content {
    padding: 20px;
  }
  
  
  .movie-card.title {
    font-size: 18px;
    margin-bottom: 10px;
    color:white;

  }
  
  .movie-card.description {
    color: white; 
    font-size: 14px;
  }