
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  border: 2px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  margin:10px;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-card h2 {
  text-align: center;
  margin-top: 10px;
  padding:10px;
}

.movie-card p {
  text-align: center;
  margin: 10px 0;
  padding:10px;
}

.movie-card a {
  text-decoration: none;
  color: #ffcc00;
  margin-top: 10px;
  display: inline-block;
}

.read-more-button {
  background-color: #673ab7;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Fira Sans', sans-serif;
  padding: 10px;
  margin:10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: #542ed2;
}

.dialog-container {
  position:fixed;
  top: 60px;
  left: 20px;
  width: 90vw;
  height: 80vh;
  overflow-y:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.movie-detail {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
  height: calc(100% - 40px);
  overflow-y: auto;
}

.close-button {
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-size: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
